 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     font-family: 'Poppins', sans-serif;
 }

 body {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
     background-image: url(https://d3ugyf2ht6aenh.cloudfront.net/stores/438/755/products/dpca2281-e4f091e5832d97106d16268083672784-640-0.jpg)
    
 
 
 
    }

 .container-buttons {
     margin: 30px 0;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 35px;
 }

 button {
     background-color: #d7ff44;
     border: none;
     border-radius: 5px;
     color: black;
     padding: 10px;
     cursor: pointer;
     font-weight: bold;
     width: 110px;

 }

 button:hover {
     opacity: .8;
 }

 ul {
     list-style: none;
     display: grid;
     grid-template-columns: 200px 200px 200px;
     gap: 35px;
     justify-content: center;


 }

 li {
     border: solid 2px #8133ff;
     border-radius: 5px;
     padding: 5px;
     cursor: pointer;
     margin-top: 40px;
 }

 img {
     width: 100%;
     border-radius: 5px;

 }

 p {
     color: #ffffff;
 }

 .item-price {
     font-weight: bold;
     color: #79cb15;
 }